<div class="box">
    <div class="head">
        <h1>Infinite Horizons</h1>
        <h5>Explore Life's Boundless Possibilities</h5>
    </div>
    <div class="newArticle">
        <a href="/article/new">NEW ARTICLE</a>
    </div>
</div>