<div class="box">
    <div class="head">
        <h1>Infinite Horizons</h1>
        <h5>Explore Life's Boundless Possibilities</h5>
    </div>
    <div class="newArticle">
        <a href="/">HOME</a>
    </div>
    <div class="form">
        <div class="sideImg">
            <img src="https://images.pexels.com/photos/302440/pexels-photo-302440.jpeg?cs=srgb&dl=notebook-office-pen-302440.jpg&fm=jpg" alt="side image">
        </div>
        <div class="formBox">
            <form action="/article" method="post">
               <input type="text" name="title" placeholder="Title........">
               <textarea name="des" id="" cols="30" rows="10" placeholder="Enter Description"></textarea>
               <textarea name="info" id="" cols="30" rows="10" placeholder="More Info.........."></textarea>
               <button class="btnForm" type="submit">SUBMIT</button>
            </form>
        </div>
    </div>
</div>